<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CustomerList</servlet-name>
        <servlet-class>controller.manage.ListCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceList</servlet-name>
        <servlet-class>controller.manage.ServiceList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.manage.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostList</servlet-name>
        <servlet-class>controller.manage.PostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>controller.manage.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Customer</servlet-name>
        <servlet-class>controller.manage.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove Customer</servlet-name>
        <servlet-class>controller.manage.RemoveCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerList</servlet-name>
        <url-pattern>/admin/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceList</servlet-name>
        <url-pattern>/ServiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostList</servlet-name>
        <url-pattern>/PostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/admin/add-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Customer</servlet-name>
        <url-pattern>/admin/editCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove Customer</servlet-name>
        <url-pattern>/admin/removeCustomer</url-pattern>
    </servlet-mapping>
</web-app>
